body{
	margin:0px;
	background-color: #B5A69D;
	font-family: Arial;
}

#jeu{
	margin:0;
	position: absolute;
	top:0px;
	left:0px;
	transform-origin:0 0;
	transform: scale(1);
}

#loader{
	position: absolute;
	width:700px;
	height:550px;
	background-color: white;
	z-index: 1000;
}

#homePanel{
	position: absolute;
	width:700px;
	height:550px;
	background-color: white;
	z-index: 100;
}

#canvas{
	position: absolute;
	top:0px;
	left:0px;
}

.roomInformation{
	position: absolute;
	top:750px;
	left:0px;
	width:600px;
	height:50px;
	background-color: blue;
}

.tchat{
	position: absolute;
	top:300px;
	left:600px;
	width:400px;
	height:500px;
	background-color: yellow;
}

#messages{
	margin:0px;
	padding:0px;
	width:400px;
	height:470px;
	list-style: none;
	background-color: red;
	overflow-y:auto; 
}


.menu{
	position: absolute;
	top:0px;
	left:600px;
	width:400px;
	height:100px;
	background-color: green;
}

.menu ul li{
	display: inline-block;
}

.roomPlayers{
	position: absolute;
	top:100px;
	left:600px;
	width:400px;
	height:200px;
	background-color: grey;
	overflow-y:auto; 
}

#roomPlayers{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#popup{
     position: fixed;
     display: none;
     left: 50%;
     top: 50%;
     z-index: 2000;
     padding: 20px;
     width: 560px;
     background-color: #EEEEEE;
     font-size: 12px;
     line-height: 16px;
     color: #202020;
     border : 3px outset #555555;
}

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}